/* ProfilePage.css (create a separate CSS file or add this within your component) */
.profile-container {
    padding: 50px;
    width: 40%;
    margin-left: 30%;
box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;;
 text-align: center;
margin-top: 100px;
  }
  
  .profile-details {
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 20px;
    margin: 20px 0;
    border-radius: 5px;
  }

  .login-button {
    width: 80px;
    padding: 10px;
    margin-top: 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
  }
  
  /* Responsive styles for smaller screens */
  @media (max-width: 768px) {
    .profile-details {
      padding: 10px;
    }
  }
  